@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    font-family: 'Arvo', serif !important;
    overflow: hidden;
}

.hero {
    height: calc(100vh - 85px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero h1, h5 {
    text-align: right;
}

.hero h1 {
    font-size: 60px;
}

h1 {
    padding: 30px 0;
}

.home-image-container { 
    background-position: center;
    height: calc(100vh - 85px);
    background-size: cover;
    border-radius: 0 0 0 100%;
    position: relative;
}



.home-image-container::after {
    content: ' '; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.hero-svg {
    margin: 50px;
    width: 500px;
}

.form-container {
    padding: 20px ;
    border-radius: 10px;
    background: var(--light);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-logo {
    width: 100px;
}

.whatsapp-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}