.hero {
    height: calc(100vh - 85px);
    background: url('assets/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-logo {
    width: 100px;
}