@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    font-family: 'Arvo', serif !important;
    overflow-x: hidden;
}

.page { 
    padding: 0;
    overflow-x: hidden;
}

.hero {
    height: calc(100vh - 85px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.page-section {
    padding: 50px 10px;
}

.home-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.hero h1, .hero h4 {
    text-align: center;
    margin: 0 auto;
}

/* .hero h1 {
    font-size: xx-large;
} */

h1 {
    padding: 30px 0;
    text-align: center;
}

/* .container-fluid {
    padding: 15px !important;
}  */

.home-image-container { 
    background-position: center;
    height: calc(100vh - 85px);
    background-size: cover;
    border-radius: 0 0 0 100%;
    position: absolute;
    z-index: -1;
}

.image {
    width: calc(90% - 20px);
    max-width: 300px;
    margin: auto;
    display: block;
}


.home-image-container::after {
    content: ' '; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.hero-svg {
    margin: 50px;
    width: 500px;
}

.form-container {
    padding: 20px ;
    border-radius: 10px;
    background: var(--light);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-logo {
    height: 35px;
}

.whatsapp-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.banner {
    padding: 30px;
    text-align: center;
    background: #1ea4db;
    color: white;
    margin: 0 0 50px 0;
    /* background: linear-gradient( to bottom right, rgb(20, 20, 141, 0.7), rgba(24, 121, 250, 0.7)); */
}


.banner p {
    font-size: x-large;
    text-align: center;
}

.paragraph-container { 
    padding: 20px;
    font-size: large;
    line-height: 200%;
}

.step-card {
    padding: 20px;
    background: #fff !important;
    height: 350px;
    border: none;
    text-align: center;
    color: black;
    margin: 10px;
}

.step-card p {
    font-size: medium !important;
}

.step-card svg {
    width: 100px;
    height: 100px;
    height: auto;
}

.banner-image {
    padding: 100px 0;
}

.banner-image::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/banner_1.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.light-bg {
    background-color: rgb(255,255,255);
    box-shadow: 1px 2px 3px #ddd;
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.transparent-bg {
    background: transparent;
    box-shadow: 0px 0px 0px #fff;
}

.team-img {
    width: 50%;
    max-width: 150px;
    border-radius: 50%;
}

.card-title { 
    margin: 20px 0 !important;
}

.team-section {
    position: relative;
}

.team-section::before {
    content: ' '; 
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: -35vw;
    top: -10vw;
    background: #333;
    border-radius: 0 100% 100% 0;
    z-index: -1;
}


.team-section::after {
    content: ' '; 
    position: absolute;
    width: 50vw;
    height: 50vw;
    right: -35vw;
    top: 10vw;
    background: #ddd;
    border-radius: 100% 0 0 100%;
    z-index: -1;
}

.team-card {
    background: transparent;
    border: none;
    text-align: center;
    padding: 20px;
}

.footer {
    padding-top: 50px;
    background-color: #ddd;
    font-size: small;
    text-align: center;
}


#mc_embed_signup {
    font-family: 'Arvo', sans-serif;
    font-size: medium;
}

html {
    scroll-behavior: smooth;
}

.small-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.small-image-container p {
    text-align: center;
    padding: 0;
    margin: 0;
}

.small-image {
    width: 50%;
    height: auto;
    max-width: 150px;
}

.small-image svg {
    width: 100%;
    height: auto;
}

.remove-stroke path:last-of-type {
    fill: transparent;
}

a {
    color: #1ea4db;
}

.blue-bg,
.blue-bg:focus,
.blue-bg:active {
    background: #1ea4db;
    border: none;
}

.onu-image {
    width: 100%;
}
